<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loading动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF7D64341C2A27E8009AA5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7D644D1C2A27E8009AA5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7D64581C2A27E8009AA5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
